# Maven
**/target/
**/bin/
**/*.class

# Node / Next.js
**/node_modules/
**/.next/
**/out/

# IDE / OS / Temp
.vscode/
.idea/
*.log
*.lst
javac_args.txt
sources.txt
backend/cp.txt

# Local Deployment binaries & chunks
deploy/*.exe
deploy/*.part*
deploy/*.parts/
deploy/*.tmp
